<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
<head>

<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <%- include('includes/navigation.ejs') %>

    <h1>SUCCESS! We have received your details.</h1>

<%- include('includes/end.ejs') %></br>
